<template>
    <div  class="card">
        <template if:true={parkingsByUser}>
            <template for:each={parkingsByUser} for:item="place">                
                <lightning-card key={place.Id} class="slds-text-heading_max-medium slds-table" title="Réservation de place de parking" icon-name="custom:custom31">
                    <div class="slds-text-align_center slds-text-heading_small">
                        <strong>Place de parking : </strong> 
                        <strong class="slds-text-color_success"> {place.Place_de_parking__r.Name} </strong> 
                    </div>
                    <div>
                        <table>
                            <tbody>             
                                <tr class="slds-line-height_reset" >
                                    <template for:each={workingDays} for:item="day">
                                        <td class="slds-text-title_caps" key={day}>
                                            <div class="slds-align_absolute-center slds-text-heading_small">
                                                <strong>{day}</strong>
                                            </div>
                                        </td>
                                    </template>
                                </tr>
                                   
                                <tr class="slds-line-height_reset" >
                                    <template for:each={workingDays} for:item="isReserved" for:index="index">
                                        <td key={isReserved.index} >
                                            <div class="slds-p-around_medium lgc-bg slds-align_absolute-center">
                                                <lightning-input key={isReserved.index} data-id={isReserved.index} 
                                                        type="checkbox"
                                                        label = "Résérvé"
                                                        onchange = {getChecked}
                                                        value = {index}
                                                       >
                                                </lightning-input>
                                            </div>
                                        </td>                               
                                    </template>
                                    <td>
                                        <template if:true={userIsProprio}>
                                            <lightning-button label=">> <<" 
                                                    onclick={switchPage} class="slds-m-left_x-small">                                        
                                            </lightning-button>
                                        </template>
                                    </td>
                                </tr>  
                            </tbody>
                        </table>
                        <lightning-button label="Enregistrer" title="Enregistrer votre réservation" 
                                        variant="brand" onclick={handleClick} class="slds-align_absolute-center slds-m-left_x-small">
                                        
                        </lightning-button> 
                    </div>                    
                </lightning-card>           
            </template>
        </template>

        <template if:true={showErrorBloq}>
                <lightning-card class="slds-text-heading_max-medium slds-table" title="Réservation de place de parking" icon-name="custom:custom31">
                    <div class="slds-text-align_center slds-text-heading_small slds-text-color_error">
                        <strong> 
                            Désolé vous êtes bloqué, vous ne pouvez pas réserver une place. 
                        </strong>
                    </div>
                </lightning-card>
        </template>

    </div>
</template>
