<template>
    <lightning-card>
        <h3 slot="title">
            <lightning-icon icon-name="custom:custom23" size="small"></lightning-icon>
            &nbsp;Envoyer un mail
        </h3>
        <div class="body">
            <div>
                <lightning-combobox name="sujet"
                    label="Sur quoi porte votre message ?"
                    required
                    options={options}
                    onchange={setSujet}>
                </lightning-combobox>
            </div>
            <div>
                <template if:true={isDenoncer}>
                    <lightning-input type="text" label="Plaque d'immatriculation"
                        pattern="[a-zA-Z0-9 -]+"
                        onchange={setMsgAtt}
                        onblur={formatPlaque}>
                    </lightning-input>
                </template>
                <template if:true={isDemander}>
                    <lightning-textarea label="Entrer votre message" onchange={setMsgAtt}></lightning-textarea>
                </template>
            </div>
            <div>
                <lightning-button variant="brand" onclick={clickSend} label="Envoyer"></lightning-button>
            </div>
        </div>
    </lightning-card>
</template>