th *, td * {
    text-align: center;
}

.container {
    width: 95%;
    margin: auto;
}

.day {
    text-transform: capitalize;
}

.place, .horaire {
    display: inline-block;
    margin: 0.5em;
    vertical-align: middle;
}

.place {
    font-weight: bold;
}