<template>
    <lightning-card class="forceChatterGroupDetailCard">
        <h3 class="slds-card__header-title" slot="title">
            Réservations
        </h3>
        <div class="container">
            <table class="slds-table slds-table_cell-buffer slds-table_header-hidden">
                <thead>
                    <tr class="slds-line-height_reset">
                        <th scope="col" style="width: 15%;"></th>
                        <template for:each={workingDays} for:item="day">
                            <th key={day} scope="col">
                                <div class="slds-truncate day">{day}</div>
                            </th>
                        </template>
                    </tr>
                    <tr class="slds-line-height_reset">
                        <th scope="col">Nombre de places disponibles</th>
                        <template for:each={nbPlacesLibres} for:item="placeLibre">
                            <th key={placeLibre} scope="col">
                                <div class="slds-wrap">{placeLibre}</div>
                            </th>
                        </template>
                    </tr>
                </thead>
                <tbody>
                    <template for:each={places} for:item="place">
                        <tr class="slds-hint-parent" key={place.Id}>
                            <th class="slds-wrap">
                                <div class="slds-wrap place" title="Cloudhub">
                                    {place.Name}
                                </div>
                                <!--<div class="slds-wrap horaire">
                                    <template for:each={plageHoraire} for:item='horaire'>
                                        <div key={horaire}>
                                            {horaire.label}
                                        </div>
                                    </template>
                                </div>-->
                            </th>
                            <template for:each={joursSemaine} for:item="jour">
                                <td key={jour} class="slds-wrap">
                                    <c-afficher-reservations key={jour} place={place}
                                        jour={jour} reservations={resaARafraichir}
                                        plage-horaire={plageHoraire}></c-afficher-reservations>
                                </td>
                            </template>
                        </tr>
                    </template>
                </tbody>
            </table>
        </div>
    </lightning-card>
</template>