<template>
    <lightning-input type="checkbox" label={userName} checked={checkVal}
        onchange={handleCheck} style="display: block;"></lightning-input>
    <template if:true={searchView}>
        <div class="saveForm">
            <div class="combobox">
                <lightning-combobox placeholder="Sélectionnez un utilisateur"
                    options={utilisateurs} onchange={handleChange}></lightning-combobox>
            </div>
            <div class="bouton">
                <lightning-button-icon icon-name="utility:save" alternative-text="Enregistrer" variant="border-filled"
                    class="slds-m-right_xx-small" title="Enregister" onclick={handleClick}></lightning-button-icon>
            </div>
        </div>
    </template>
</template>