<template>
    <!--<template for:each={plageHoraire} for:item='horaire'>
        <div class="horaire" key={horaire}>-->
            <c-resa-by-horaire place={place} jour={jour}
                resa-a-rafraichir={reservations}></c-resa-by-horaire>
        <!-- horaire={horaire.label} </div>
    </template>-->
</template>