.cSendMail.header {
  position: relative;
  border-bottom: var(--lwc-borderWidthThick, 2px) solid
    var(--lwc-colorBorder, rgb(221, 219, 218));
  padding: var(--lwc-spacingMedium, 1rem);
  text-align: center;
}
.cSendMail.body {
  width: 75%;
  padding: 1em;
  margin: auto;
  text-align: center;
}

.cSendMail.body div {
  margin: 0.5em;
}